<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="nlog-internal.log" >

  <!--Extensions -->
  <extensions>
     <add assembly="NLog.Web.AspNetCore"/> 
  </extensions>

  <!-- Logging -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>
  <variable name="LayoutEvent" value="${date}: ${message} ${stacktrace}"/>

  <!-- Log Path-->
  <variable name="LogTxtLocation" value="${basedir}/App_Data/Logs/${shortdate}/${logger}.log"/>
  <variable name="LogTxtLocationFatal" value="${basedir}/App_Data/Logs/${shortdate}/FatalFile.log"/>
  <variable name="LogTxtLocationArchive" value="${basedir}/App_Data/Logs"/>
  <variable name="ProjectName" value="Quartz.Net.Sample"/>

  <targets>
    <!--Text file-->
    <target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}" />
    <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"/>
    <target name="FileArchive" xsi:type="File" fileName="${LogTxtLocationArchive}/Application.log" layout="${Layout}"
            archiveFileName="$${LogTxtLocationArchive}/Application.${shortdate}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"/>
    <!--Event-->
    <!--<target name="Event" xsi:type="EventLog" source="${ProjectName}" log="Application" layout="${LayoutEvent}" />-->
    <!--Sentinel-->
    <target name="Sentinel" xsi:type="NLogViewer" address="udp://127.0.0.1:3333"/>
    <!--Database-->
    <!--<target name="LogDatabase" xsi:type="Database" >
      <connectionString>
        Data Source=.;Initial Catalog=JB;Integrated Security=True;
      </connectionString>
      <commandText>
        INSERT INTO AspnetCoreLog (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="${ProjectName}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>-->
    <!--
  CREATE TABLE [dbo].[AspnetCoreLog] (
      [Id] [int] IDENTITY(1,1) NOT NULL,
      [Application] [nvarchar](50) NOT NULL,
      [Logged] [datetime] NOT NULL,
      [Level] [nvarchar](50) NOT NULL,
      [Message] [nvarchar](max) NOT NULL,
      [Logger] [nvarchar](250) NULL,
      [Callsite] [nvarchar](max) NULL,
      [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
-->
  </targets>

  <rules>
    <!--<logger name="*" levels="Trace, Debug, Info, Warn, Error, Fatal" writeTo="LogDatabase" />-->
    <logger name="Microsoft.*" maxLevel="Warn" final="true" />
    <!--Excludes logs from Microsoft.*-->
    <logger name="*" minlevel="Trace"                                writeTo="Sentinel"   />
    <logger name="*" levels="Trace, Debug, Info, Warn"               writeTo="File" />
    <logger name="*" levels="Error, Fatal"                           writeTo="FileFatal" />
    <!--<logger name="*" levels="Error, Fatal" writeTo="Event" />-->
  </rules>
</nlog>
